<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>{{titulo}} - Búsqueda</title>
  	{{>css}}
</head>


<body>

  {{> navbar}}

  <div>
    {{> filtros}}
    <section class="sec-cards">
      {{> cards}}

    </section>
    <section>
      {{>map}}
    </section>
  </div>

</body>

</html>