<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>{{titulo}} - Búsqueda</title>
  {{>css}}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</head>


<body>

  {{> navbar}}

  <div class="row">
    <div class="col-md-4">
      {{> filtros}}
      <section class="sec-cards">
        {{> cards}}

    </div>
    <div class="col-md-8">
      {{> map}}

    </div>

  </div>

</body>

</html>